<script type="text/javascript">
  function validate_form(form) { //This is the name of the function
    if (form.attachment_data.value == "") {
      //This checks to make sure the field is not empty
      alert("Attachment Should not be Empty."); //Informs user of empty field
      return false; //This prevents the form from being submitted
    }
    // you may copy the above 5 lines for each form field you wish to validate
    // Replace the text "FIELD1" with the name you wish to call the field
  }
</script>

<h3><%= "Edit #{@document.name}" %></h3>

<%= error_messages_for :document %>

<%= form_for([@user, @document], :html => { :multipart => true, :onsubmit => "return validate_form(this)" }) do |f| %>
  <table align="center">
    <tr>
      <td><label for="name">Name:</label></td>
      <td> <%= text_field :document, :name %> </td>
    </tr>

    <% for @attachment in @document.attachments %>
      <%= error_messages_for :attachment %>
      <%= fields_for @attachment do |d| %>
        <tr>
            <td>Attached File:</td>
            <td><%= d.file_field :data %></td>
        </tr>
      <% end %>
    <% end %>

    <tr>
      <td><label for="document_description">Description:</label></td>
      <td><%= text_area :document, :description, :rows => 7 %></td>
    </tr>

    <tr>
      <td>&nbsp;</td>
      <td><%= submit_tag "Upload File", :id => 'document_submit' %></td>
    </tr>
  </table>
<% end %>